<div>
    <input type="hidden" name="recipe-id" value="{{recipe.id}}" />
    <label class="mr5" for="title">Title:</label>
    <input class="input-reset ba b--black-20 pa3 mb2 db w-100 mt2" type="text" id="title" name="title" />
</div>
<div class="mt3">
    <label for="ingredients">Ingredients</label>
    <input class="input-reset ba b--black-20 pa3 mb2 db w-100 mt2" type="text" id="ingredients" name="ingredients" />
</div>
<div class="mt3">
    <label for="instructions">Instructions</label>
    <input class="input-reset ba b--black-20 pa3 mb2 db w-100 mt2" type="text" id="instructions" name="instructions" />
</div>
<div class="mt3">
    <label for="image">Image URL</label>
    <input class="input-reset ba b--black-20 pa3 mb2 db w-100 mt2" type="text" id="image" name="image" />
</div>
<div class="mt3">
    <label for="category">Please put 1 for Breakfeast, 2 for Lunch, </br>3 for dinner, 4 for snack, and 5 for desert!
    </label>
    <input class="input-reset ba b--black-20 pa3 mb2 db w-100 mt2" type="integer" id="category" name="category" />
</div>
<div class="mt3 br2 mw4 primary-bg">
    <button class="db w-100 white" style="padding: 12px 0;"
        type="submit">Submit</button>
</div>