{{!-- main handlebars page --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeEats</title>
{{!-- imports tachyons and style.css --}}
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
{{!-- main body --}}
<body>
    <div class="wrap flex flex-column">
        <header class="w-100 pv3 fixed z-4 top-0 left-0 bg-white header">
            <div class="mw8 flex flex-row items-center justify-between center header-box">
                <h1 class="pl3">
                    <a href="/">
                        <img class="db" src="/image/logo.svg" alt="logo">
                    </a>
                </h1>
                
                <div class="flex flex-column justify-between absolute z-2 hamburger-menu">
                    <span class="db primary-bg hamburger-line line1"></span>
                    <span class="db primary-bg hamburger-line line2"></span>
                    <span class="db primary-bg hamburger-line line3"></span>
                </div>
                
                {{!-- nav bar --}}
                <nav class="pr3 navigation-bar">
                    <ul class="flex flex-column flex-row-l tc">
                        <li class="f4">
                            <a class="" href="/">Home</a>
                        </li>
                
                        {{#if logged_in}}
                        <li class="f4">
                            <a class="" href="/mypage">My page</a>
                        </li>
                        <li class="f4">
                            <a href="" class="nav-item nav-link" id="logout">Logout</a>
                        </li>
                        {{else}}
                        <li class="f4">
                            <a class="nav-item nav-link" href="/login">Login</a>
                        </li>
                        {{/if}}
                    </ul>
                </nav>
            </div>
        </header>
        {{!-- where we display other .handlebars --}}
        <main class="pb5 main-container overflow-auto">
            {{{ body }}}
        </main>

        <footer class="pv3 w-100 grey-bg fixed-l bottom-0">
            <div class="flex flex-column justify-center py-4 flex-row-l justify-around">
                <h4 class="tc f4 normal mb3 mb0-l">
                    Made by: <span class="">Team 3</span>
                </h4>
                <div class="flex flex-column justify-center items-center f5 flex-row-l justify-around-l w-60-l">
                    <a class="b" href="https://github.com/KDonnelly33" target="_blank">Kevin Donnelly</a>
                    <a class="b" href="https://github.com/YISEO" target="_blank">Joy Yiseo Kwon</a>
                    <a class="b" href="https://github.com/abdulsamedtma" target="_blank">Abdul Samed Alhassan</a>
                </div>
        </footer>
    </div>


    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    {{!-- sweetalert import --}}
    <script src="/js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function sweetalert(icon, title) {
            Swal.fire({
                icon: icon,
                title: title,
                timer: 2000,
                showConfirmButton: false,
            })
            .then(function(result) {
                document.location.replace("/");
            });
        }
    </script>
</body>

</html>