<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeEats</title>

    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrap flex flex-column">
        <header class="w-100 pv3 fixed z-4 top-0 left-0 bg-white header">
            <div class="mw8 flex flex-row items-center justify-between center header-box">
                <h1 class="pl3">
                    <a href="/">
                        <img class="db" src="/image/logo.svg" alt="logo">
                    </a>
                </h1>
                
                <div class="flex flex-column justify-between absolute hamburger-menu">
                    <span class="hamburger-line line1"></span>
                    <span class="hamburger-line line2"></span>
                    <span class="hamburger-line line3"></span>
                </div>
                
                <nav class="pr3 navigation-bar">
                    <ul class="flex flex-column flex-row-m flex-row-l tc">
                        <li class="f4">
                            <a class="" href="/">Home</a>
                        </li>
                
                        {{#if logged_in}}
                        <li class="f4">
                            <a class="" href="/mypage">My page</a>
                        </li>
                        <li class="f4">
                            <a href="" class="nav-item nav-link" id="logout">Logout</a>
                        </li>
                        {{else}}
                        <li class="f4">
                            <a class="nav-item nav-link" href="/login">Login</a>
                        </li>
                        {{/if}}
                    </ul>
                </nav>
            </div>
        </header>
        
        <main class="pb4 main-container overflow-auto">
            {{{ body }}}
        </main>
    </div>

<footer class="fixed-l left-0 bottom-0 pv2 w-100 light-bg">
      <div class="flex flex-column justify-center py-4 flex-row-l justify-around" style="color: #e6c3b8">
        <h4 class="tc f3 font-semibold">
          Made by: <span class="" >Team 3</span>
        </h4>
        <div class="flex flex-column justify-center underline items-center f4  flex-row-l justify-around-l w-60-l">
          <a class="hover-black" href = "https://github.com/KDonnelly33" target="_blank">Kevin Donnelly</a>
         <!--these lines are in the header and tell it to display a link to everyones github page but replace the text of the url with everyones full name-->
          <a class="hover-black" href="https://github.com/YISEO" target="_blank">Joy Yiseo Kwon</a>
           
          <a class="hover-black" href="https://github.com/abdulsamedtma" target="_blank">Abdul Samed Alhassan</a>
      </div>
    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    
    <script src="/js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function sweetalert(icon, title) {
            Swal.fire({
                icon: icon,
                title: title,
                timer: 2000,
                showConfirmButton: false,
            })
            .then(function(result) {
                document.location.reload();
            });
        }
    </script>
</body>

</html>