<div class="tc">
    <p class="pa1">Please use this page to signup or login to our website to access all the features</p>
  
</div>

    <div class="col-md-6">
        <h2 class="f3 tc underline" style="color: #e6c3b8">Login</h2>

        <form class="flex flex-column flex-row-l justify-center items-center pa2 login-form">
            <div class="pa1">
                <label for="name-login">Username:</label>
                <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" id="name-login" />
            </div>
            <div class="pa1">
                <label for="password-login">Password  :</label>
                <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="password" id="password-login" />
            </div>
            <div class="">
                <button class="grow pointer f6 link dim  ma2 br3 ph3 pv2 mb2 dib white " style="background-color: #e6c3b8" type="submit">login</button>
            </div>
        </form>
    </div>
    <div class="">
        <h2 class="f3 tc underline" style="color: #e6c3b8">Signup </h2>

        <form class="flex flex-column flex-row-l justify-center items-center pa2 signup-form">
            <div class="pa1">
                <label for="name-signup">Username:</label>
                <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" id="name-signup" />
            </div>
            <div class="pa1">
                <label for="password-signup">Password  :</label>
                <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="password" id="password-signup" />
            </div>
            <div class="pa1">
                <button class="grow pointer f6 link dim  ma2 br3 ph3 pv2 mb2 dib white" style="background-color: #e6c3b8"type="submit">signup</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>