<section class="flex flex-column justify-center items-center pt5 ph3">
    <div class="f2-l f3 b">Fill the form</div>
    <p class="mt3 f4-l f5 tc">
        Would you like to showcase your own recipe?<br>
        Please fill out the following form and submit it.
    </p>

    {{!-- form for newpost --}}
    <form class="mt4 tl" id="newpost-form">
        <div>
            <label class="mr5" for="title">Title:</label>
            <input class="input-reset ba b--black-20 pa3 mb2 db w-100 mt2" type="text" id="title" name="title" />
        </div>
        <div class="mt3">
            <label for="ingredients">Ingredients</label>
            <input class="input-reset ba b--black-20 pa3 mb2 db w-100 mt2" id="ingredients" name="ingredients" />
        </div>
        <div class="mt3">
            <label for="instructions">Instructions</label>
            <input class="input-reset ba b--black-20 pa3 mb2 db w-100 mt2" id="instructions" name="instructions" />
        </div>
        <div class="mt3">
            <label for="image">Image URL</label>
            <input class="input-reset ba b--black-20 pa3 mb2 db w-100 mt2" type="text" id="image" name="image" />
        </div>
        <div class="mt3">
            <label for="category">Please put 1 for Breakfeast, 2 for Lunch, </br>3 for dinner, 4 for snack, and 5 for desert!
            </label>
            <input class="input-reset ba b--black-20 pa3 mb2 db w-100 mt2" type="integer" id="category" name="category" />
        </div>
        <div class="mt3 br2 mw4 primary-bg">
            <button class="db w-100 white" style="padding: 12px 0;" type="submit">Submit</button>
        </div>
    </form>
</section>

<script src="/js/newpost.js"> </script>