@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
    --primary: #e6c3b8;
    --light: #f3ece6;
    --black: #3b3b3b;
    --grey: #f8f9fa;
}

html, 
body, 
div, 
span,
h1,
h2,
h3,
h4,
p,
a,
ul,
li,
form,
label,
footer,
header,
nav,
section{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font-family: 'Raleway', sans-serif;
    vertical-align: baseline;
    color: var(--dark);
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

.primary-color {
    color: var(--primary);
}

.header {
    border-bottom: 2px solid var(--light);
}

.navigation-bar li,
.recipe-lists li {
    margin-right: 1.2rem;
}

.navigation-bar li:last-child,
.recipe-lists li:last-child {
    margin-right: 0;
}

/* main */
.main-text {
    background-color: var(--light);
}

/* recipe-section */
.recipe-card {
    border-color: #f3ece6;
    box-shadow: 1px 3px 10px rgba(59, 59, 59, 0.2);
}


.recipe-card:nth-child(4n) {
    margin-right: 0;
}

.recipe-card-img {
    height: 200px;
}

.view-recipe {
    border: 1px solid var(--primary);
    transition: all 400ms ease;
}

.view-recipe:hover {
    background-color: var(--primary);
}

/* media screen */
@media screen and (max-width: 959px) {
    .main-section {
        justify-content: center;
        align-items: center;
    }

    .main-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(243,236,230,0.7);
        z-index: 1;
    }

    .main-text {
        text-align: center;
        z-index: 2;
        background-color: transparent;
    }

    .recipe-card:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .recipe-card {
        margin-right: 0;
    }
}