@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
    --primary: #e6c3b8;
    --light: #f3ece6;
    --black: #3b3b3b;
    --grey: #f8f9fa;   
}

.bg-background-color {
    background-color: rgba(243,236,230,0.7);
}

.primary-color {
    color: var(--primary);
}

.primary-bg {
    background-color: var(--primary);
}

.light-bg {
    background-color: var(--light);
}

.grey-bg {
    background-color: var(--grey);
}

.black-bg {
    background-color: var(--black);
}

html, 
body, 
div, 
span,
h1,
h2,
h3,
h4,
p,
a,
ul,
li,
form,
label,
input,
textarea
footer,
header,
nav,
section{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font-family: 'Raleway', sans-serif;
    vertical-align: baseline;
    color: var(--dark);
    box-sizing: border-box;
}

textarea {
    resize: none;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    object-fit: cover;
}

/* header */
.header {
    border-bottom: 2px solid var(--light);
}

.navigation-bar li,
.recipe-lists li {
    margin-right: 1.2rem;
}

.navigation-bar li:last-child,
.recipe-lists li:last-child {
    margin-right: 0;
}

.navigation-bar a:hover {
    font-weight: 700;
}

/* main */
.main-container {
    padding-top: 64px;
}

.main-text {
    background-color: var(--light);
}

/* recipe-section */
.recipe-card {
    border-color: #f3ece6;
    box-shadow: 1px 3px 10px rgba(59, 59, 59, 0.2);
}


.recipe-card:nth-child(4n) {
    margin-right: 0;
}

.recipe-card-img {
    height: 200px;
}

.view-recipe {
    border: 1px solid var(--primary);
    transition: all 400ms ease;
}

.view-recipe:hover {
    background-color: var(--primary);
}

/* login section */
.form-wrap > * {
    box-shadow: 1px 3px 10px rgba(59, 59, 59, 0.2);
}

.form-button button {
    padding: 12px 0;
}

/* media screen */
@media screen and (max-width: 959px) {
    .main-section {
        justify-content: center;
        align-items: center;
    }

    .main-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(243,236,230,0.7);
        z-index: 1;
    }

    .main-text {
        text-align: center;
        z-index: 2;
        background-color: transparent;
    }

    .recipe-card:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    /* hamburger menu */
    .hamburger-menu {
        top: 18px;
        height: 24px;
        width: 30px;
        right: 16px;
    }

    .hamburger-menu span {
        height: 4px;
        transition: transform 0.4s ease-in-out;
    }

    .hamburger-menu .line1 {
        transform-origin: 20% 0%;
    }

    .hamburger-menu .line3 {
        transform-origin: 0% 0%;
    }

    .hamburger-menu.close .line1 {
        transform: rotate(45deg);
        width: 35px;
    }

    .hamburger-menu.close .line3 {
        transform: rotate(-45deg);
        width: 35px;
    }
    .hamburger-menu.close .line2 {
        opacity: 0;
        width: 0;
    }

    .navigation-bar {
        z-index: 1;
        position: absolute;
        top: 64px;
        width: 100%;
        height: 0;
        overflow: hidden;
        transform: translateX(100px);
        padding-top: 20px;
        transition: all 0.3s ease-in-out;
    }

    .navigation-bar.overlay{
        display: block;
        padding: 30px 0;
        height: auto;
        transform: translateX(0);
        background:white;
        box-shadow: 1px 3px 10px rgba(59, 59, 59, 0.2);
    }

    .navigation-bar li {
        margin-right: 0;
        margin-bottom: 12px;
    }

    .navigation-bar li:last-child {
        margin-bottom: 0;
    }

    .recipe-card {
        margin-right: 0;
    }
}